{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Autoroad - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">


    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>

<body>
  <div class="hero-wrap" style="background-image: url('{% static 'images/bg_1.jpg'%}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center">
          <div class="col-lg-2 col-md-6 ftco-animate d-flex align-items-end"></div>
          <div class="col-lg-8 col">
              <form action="/Book_now" method="post" class="request-form ftco-animate"> {% csrf_token %}
          		<h2>Make your trip</h2>
						<div class="form-group">
	    					<label for="" class="label">Name</label>
	    					<input type="text" class="form-control" name="Name" placeholder="Enter Your name">
	    				</div>
						<div class="form-group">
	    					<label for="" class="label">Mobile Number</label>
	    					<input type="text" class="form-control" name="Mobile_Number" placeholder="Mobile Number">
	    				</div>
	    				<div class="form-group">
	    					<label for="" class="label">PickUp Address</label>
	    					<input type="text" class="form-control" name="PickUp_Address" placeholder="Enter Pick Up Address">
	    				</div>
                    <div class="form-group">
	                  <label for="" class="label">Pin Code</label>
	                <input type="text" class="form-control" name="Pin_code" id="pin_code" placeholder="Pin Code">
	              </div>
	    				<div class="form-group">
	    					<label for="" class="label">Destination Address</label>
	    					<input type="text" class="form-control" name="Destination_Address" placeholder="Enter Destination Address">
	    				</div>

                  <div class="form-group">
	                <label for="" class="label">PickUp date</label>
	                <input type="text" class="form-control" name="PickUp_Date" id="book_pick_date" placeholder="Date">
	              </div>

              <div class="form-group">
                <label for="" class="label">PickUp time</label>
                <input type="text" class="form-control" name="PickUp_Time" id="time_pick" placeholder="Time">
              </div>
	            <div class="form-group">
	              <!--input type="submit" value="Submit" class="btn btn-primary py-3 px-4" src="/sign_in"-->
                    <button type="submit" class="btn btn-primary py-3 px-4">Submit</button>
	            </div>
	    			</form>
          </div>
          <div class="col-lg-2 col-md-6 mt-0 mt-md-5 d-flex"></div>
        </div>
      </div>
    </div>


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <!---script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script-->
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>