{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Autoroad - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">


    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  </head>
  <body>

	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/sign_in">Auto<span>road</span></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
	          <li class="nav-item"><a href="/pricing" class="nav-link">Pricing</a></li>
	          <li class="nav-item"><a href="/car" class="nav-link">Our Car</a></li>
	          <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
			  <li class="nav-item"><a class="nav-link" ><span style="color:white">Hello,{{current_user}}</span></a></li>
				<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
      <form action="/sign_in/{{usertype}}/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
	<fieldset>
	<legend style="text-align: center"><b><u>Registeration Form</b></u></legend>
		<label for="fname">First Name:</label>
		<input type="text" id="fname">
		<br><br>

		<label for="lname">Last Name:</label>
		<input type="text" id="lname">
		<br><br>

		<label for="email">Email:</label>
		<input type="email" id="email" required>
		<br><br>

		 <label>Contact:</label>
          <input type="text" placeholder="Contact Number" size="10">
		<br><br>

		<label for= "r1">Gender:</label><br>
    	<input type="radio"name="Gender" id="r1"checked/>Male
    	<input type="radio"name="Gender" id="r2">Female
		<input type="radio"name="Gender" id="r2">Others
		<!---<label for="r1">Gender:</label><br>
		<input type="radio" name="gender" id="r1" chekced>Male<br>
		<input type="radio" name="gender"  id="r1">Female<br>
		<input type="radio"  name="gender" id="r1">Others------->
		<br><br>

		<label for="ch">Intersted Courses</label><br>
		<input type= "checkbox" id="ch"/> Java
    	<input type= "checkbox" id="ch"/> Python
    	<input type= "checkbox" id="ch"/> PHP
    	<input type= "checkbox" id="ch"/> WEB DESIGN
    	<input type= "checkbox" id="ch"/> SOFTWARE TESTING
		<br><br>

		<label for="add">Address:</label><br>
		Line1:<input type="text" id="add"><br><br>
		Line2:<input type="text" id="add">
		<br><br>

		<label>Pass Out Year</label>
		<select>
			<option value="Select Passout Year">Select Passout Year</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
			<option value="2021">2021</option>
			</select>
			<br>
			<br>
			<br>
		<input type="submit" value="submit" style="color: darkgreen" onclick="alert('submit');">
			<br><br>
	</fieldset>
</form>





  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static 'js/google-map.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
