{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login, Register form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
  body{

			background-image: url({% static 'images/loginBackground.jpg' %});
			background-repeat: no-repeat;
			background-size: 100%;
		}
		.login-box{
  position:relative;
  margin: 50px;
  width: 500px;
  height: 380px;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
		.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}
		.lb-header a{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
		.lb-header .active{
  color: #1375ad;
  font-size: 18px;
}
		.social-login{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee;
}
		.social-login a{
  position:relative;
  float: left;
  width:calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;
}
		.social-login a i{
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}
		.social-login a:first-child{
  background-color: #49639F;
}
		.social-login a:last-child{
  background-color: #DF4A32;
}
		.email-login,.email-signup{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  margin-top: 20px;
  text-align:center;
}
		.u-form-group{
  width:100%;
  margin-bottom: 10px;
}
         .u-form-group input[type="text"],
		.u-form-group input[type="email"],
		.u-form-group input[type="password"]{
  width: calc(50% - 22px);
  height:45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size:0.8rem;
  -webkit-transition:all 0.1s linear;
  -moz-transition:all 0.1s linear;
  transition:all 0.1s linear;
}
		.u-form-group input:focus{
  border-color: #358efb;
}
		.u-form-group button{
  width:50%;
  background-color: #1375ad;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
		.forgot-password{
  width:50%;
  text-align: left;
  text-decoration: underline;
  color: #888;
  font-size: 0.75rem;
}


</style>
</head>
<body>
<center>
<!-- partial:index.partial.html -->
<div class="login-box">
    <div class="lb-header">
      <a href="#" class="active" id="login-box-link">Login</a>
      <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <!--------<div class="social-login">
      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook fa-lg"></i>
        Login in with facebook
      </a>
      <a href="#">
        <i class="fa fa-google-plus fa-lg"></i>
        log in with Google
      </a>
    </div>---->
    <form action="/sign_in_check/{{usertype}}/" method="post" enctype="multipart/form-data" class="email-login" >
      {% csrf_token %}
      <div class="u-form-group">
        <input type="email" name="email" placeholder="Email/Mobile"/>
      </div>
      <div class="u-form-group">
        <input type="password" name="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <button>Log in</button>
      </div>
      <div class="u-form-group">
        <a href="/password_reset/{{usertype}}" class="forgot-password">Forgot password?</a>
        <h1>{{error_message}}</h1>
      </div>
    </form>
    <form action="/sign_up/{{usertype}}/"  method="post" enctype="multipart/form-data" class="email-signup">{% csrf_token %}
      <div class="u-form-group">
        <input type="text" name="username" placeholder="Username"/>
      </div>
      <div class="u-form-group">
        <input type="email" name="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password"   name="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <input type="password" name="confirm_password" placeholder="confirm Password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>
  </div>
	</center>
<!-- partial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$(".email-signup").hide();
		$("#signup-box-link").click(function(){
  $(".email-login").fadeOut(100);
  $(".email-signup").delay(100).fadeIn(100);
  $("#login-box-link").removeClass("active");
  $("#signup-box-link").addClass("active");
});
		$("#login-box-link").click(function(){
  		$(".email-login").delay(100).fadeIn(100);;
  		$(".email-signup").fadeOut(100);
  		$("#login-box-link").addClass("active");
  		$("#signup-box-link").removeClass("active");
		});
</script>
</body>
</html>
