<!DOCTYPE html>
{% load static %}
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                $("#exampleModal").modal('show');
                $('.pass_show').append('<span class="ptxt">Show</span>');
                $(document).on('click','.pass_show .ptxt', function(){
                   $(this).text($(this).text() == "Show" ? "Hide" : "Show");
                   $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; });
                });
                $("#btnChangePassword").click(function() {
                    let myForm = document.getElementById("passwordResetForm");
                    myForm.submit();
                });
            });
        </script>
        <style>
            .pass_show{position: relative}

            .pass_show .ptxt {
                position: absolute;
                top: 50%;
                right: 10px;
                z-index: 1;
                color: #f36c01;
                margin-top: -10px;
                cursor: pointer;
                transition: .3s ease all;
                }

                .pass_show .ptxt:hover{color: #333333;}
        </style>
    </head>
    <body>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
               <div class="modal-body">
                     <form action="/password_reset_complete" method="post" id="passwordResetForm">
                          {% csrf_token %}

                         <label>New Password</label>
                         <div class="form-group pass_show">
                             <input type="password" class="form-control" name="password" placeholder="New Password">
                             </div>
                         <label>Confirm Password</label>
                            <div class="form-group pass_show">
                                <input type="hidden" name="token" value="{{ uid }}">
                                <input type="hidden" name="usertype" value="{{ usertype }}">
                                <input type="password"  class="form-control" name="confirm_password" placeholder="Confirm Password">
                            </div>

                     </form>
                 </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btnChangePassword">Change Password</button>
                     </div>
            </div>
         </div>
        </div>
    </body>
</html>