<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
         <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <style>
            body{
            text-align:center;
            margin-top: 134px;
            background-image: url({% static 'images/loginBackground.jpg' %});
			background-repeat: no-repeat;
			 background-size: 100%;
            }

        </style>
    </head>
    <body>
        <div class="text-center">
            <h4>Well done!</h4>
            <p>An Email has been sent with instructions to reset your password.
                <b>Check Your Email!</b>
            </p>
            <hr>
        </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    </body>
</html>